.TodoApp {

}

.item {
  display: flex;
  padding: 10px;
  border: 1px solid black;

  &__name {
    margin-right: 10px;
  }

  &__remove-btn {
    padding: 5px;
    border: 0;
    background: white;
  }
}
